@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* IntroTiles.css */
.mentorpal .intro-tiles-container {
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding: 20px;
  background-color: #f0f0f0; 
  position: relative;
  transition: background-color 0.5s ease;
}

.mentorpal .arrow {
  display: flex;
  align-items: center;
  font-size: 2.5em; /* Adjust size as needed */
  color: #084b8a; /* Use a color that matches your design */
  padding: 0 15px; /* Adjust spacing around the arrow */
  font-weight: bold; /* Make the arrow thicker */

}


.mentorpal .intro-tile-content {
  padding: 10px 20px 20px;
  text-align: center; 
  font-family: 'Roboto';
}

.mentorpal .intro-tile {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center;
  background-color: #fff; /* Optional: background color for tiles */
  border-radius: 8px; /* Optional: rounded corners for tiles */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */
  padding: 10px;
}

.mentorpal .intro-tile-title {
  margin:0px  10px;
  font-size: 1.2em;
  border-bottom: 10px;
  color: #333; 
}

.mentorpal .intro-tile-image {
  width: auto;
  height: 80px;
  object-fit: cover; 
}

@media (max-width: 1024px) {
  .intro-tile {
    flex: 1 1 calc(33.333% - 20px); /* Three tiles in a row for medium screens */
    max-width: calc(33.333% - 20px);
  }

  .arrow {
    font-size: 1.5em; /* Adjust arrow size for medium screens */
  }
}

.mentorpal .search-container {
  display: flex;
  align-items: center;
  padding: 0rem;
  margin-bottom: 35px;
  margin-left: 500px;
}


.mentor-grid {

  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four equal columns */
  flex-wrap: wrap;
  gap: 36px;
  padding: 16px;
  margin-top: -50px;
}


.mentor-panels {
  grid-column: 1 / 2; /* Occupies the first column */
  background-color: #f0f0f0; /* Optional: background color for visual separation */
  padding: 1rem;
}

.mentor-cards {
  grid-column: 2 / 6; /* Occupies columns 2, 3, and 4 */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


