.bookmarks {
  width: 100%;
}

.bookmark-tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-start;
}
.bookmark-section h2 {
  margin-top: 10px;
  color: #084b8a;
}

.mentor-bookmark-tiles {
  margin-left: -10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  width: 100%;
}
