.bookmarks {
    padding: 20px; 
  }
  
  .bookmark-tiles {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: flex-start; 
  }
  .bookmark-section h2{
    color: #084b8a;
  }  
  .tile {
    flex: 1 1 200px; 
    max-width: 300px; 
    box-sizing: border-box; 
  }
  