.bookmarks {
    padding: 20px; 
  }
  
  .bookmark-tiles {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: flex-start; 
  }
  .bookmark-section h2{
    color: #084b8a;
  }  

  .mentor-bookmark-tiles{
    display: flex;
    margin-left: -10px;;
  }
