.subfield-dropdown-container {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  margin: 0 auto;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiSelect-root {
  height: 40px; /* Adjust dropdown height */
}

.MuiMenuItem-root {
  font-size: 10px; /* Adjust font size */
  height: 35px; /* Adjust height of each menu item */
}

.MuiCheckbox-root {
  padding: 0; /* Adjust padding for checkboxes */
}

.MuiListItemText-root {
  font-size: 10px; /* Adjust font size for item text */
}
