.custom-modal {
  position: absolute;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6); /* 50% opacity black background */
  color: white; /* Ensure text is visible on black background */
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: none; /* Remove shadow to make it blend with the page */
  display: flex; /* Use flexbox to position the button */
  flex-direction: column; /* Stack content vertically */
  align-items: flex-end; /* Align items to the end (right) */
  justify-content: flex-end; /* Align content to the bottom */
}

.custom-overlay {
  background-color: transparent; /* Make the overlay transparent */
}

.next-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Space from the content */
}

.next-button:hover {
  background-color: black;
}

.modal-content {
  color: aliceblue;
}

.modal-step-0::before {
  content: "";
  position: absolute;
  border-width: 0 10px 10px 10px; /* Triangle pointing upwards */
  border-style: solid;
  border-color: transparent transparent #000000 transparent; /* Triangle color */
  top: -10px; /* Position the triangle above the modal */
  left: 20px; /* Position it horizontally, adjust as needed */
}

.modal-step-1::before {
  content: "";
  position: absolute;
  border-width: 0 10px 10px 10px; /* Triangle pointing upwards */
  border-style: solid;
  border-color: transparent transparent #000000 transparent; /* Triangle color */
  top: -10px; /* Position the triangle above the modal */
  left: 30px; /* Position it horizontally, adjust as needed */
}

/* Adjust the position for modal-step-2 if needed */
.modal-step-2::before {
  content: "";
  position: absolute;
  border-width: 0 10px 10px 10px; /* Triangle pointing upwards */
  border-style: solid;
  border-color: transparent transparent #000000 transparent; /* Triangle color */
  top: -10px; /* Position the triangle above the modal */
  left: 70px; /* Position it horizontally, adjust as needed */
}
