.footer {
    background-color: #f0f0f0;
    padding: .5em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .container {
    max-width: 960px; /* Adjust as per your design */
    margin: 0 auto;
  }
  
  .footer-timer {
    font-size: 1.2em;
    flex: 1; /* Take up remaining space */
    text-align: center; /* Center the text */
  }
  
  .footer-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    background-color: #333;
    background-color: rgb(30,129,176);
    color: white;
    border: none;
    cursor: pointer;
  }

  .footer-button.left {
    float: left;
  }
  
  .footer-button.right {
    float: right;
  }
  