.KeywordDropdown {
    margin-top: -30px;
    font-family: Arial, sans-serif;
    position: relative;
  }

  .dropdown-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px; /* Adjust padding as needed */
    margin-bottom: 10px;
    width: 150px; /* Adjust width as needed */
    position: relative;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  .submenu-item {
    display: flex;
    align-items: center;
    padding: 4px 0px;
    margin-left: 10px;
    z-index: 1000;
  }
  
  .submenu-item input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .submenu-item span {
    font-size: 14px;
  }
  