.mentorpal .tiles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  margin-top: -6px;
}

.mentorpal .tile {
  display: flex;
  flex-direction: column; /* Adjusted to stack content vertically */
  align-items: center;
  background-color: #f0f0f0;
  padding: 16px;
  border: 1px solid #ddd;
  flex: 1 1 300px;
  min-height: 100px; /* Adjusted for better tile height */
  position: relative; /* Ensure relative positioning for .tile-num */
  text-align: center; /* Center align tile content */
}

.mentorpal .tile img {
  width: 200px;
  height: auto;
  margin-bottom: 10px; /* Added margin to separate image from text */
}

.mentorpal .tile-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center align text content */
  align-items: center;
}

.mentorpal .tile .tile-title {
  font-size: 1.4em;
  margin: 0 0 16px 0;
}


.mentorpal .tile .tile-num {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #5c5a5a;
  color: white;
  padding: 8px 12px; /* Increased padding for better visibility */
  border-radius: 50%;
  font-size: 1.2em; /* Increased font size to make it larger */
}
