/* SearchBar.css */
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Adjust the gap as needed */
}

.search-button {
  padding: 11px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0px;
  position: relative;
}

.search-button:hover {
  background-color: #0056b3;
}
