@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.container {
  display: flex;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;

  background-color: #ffffff; 
  color: #084b8a; 
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}


.sidebar.closed {
  width: 75px;
}


.top_section {
  display: flex;
  align-items: center;
  height: 12px;
  padding: 18px;
  background-color: #084b8a; 
}


.logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 40px;
  color: #ffffff; 
}


.bars {
  margin-top: -15px;
  font-size: 60px;
  cursor: pointer;
  color: #ffffff; 
}


.link {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: #084b8a;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #e0e0e0; 
}


.link.active {
  background-color: #c0c0c0;
}


.icon {
  font-size: 20px;
  color: #084b8a; 
}


.link_text {
  margin-left: 15px;
  color: #084b8a; 
}


.main-children {
  margin-left: 200px;
  padding: 20px;
  flex-grow: 1;
  background-color: #f9f9f9;
  transition: margin-left 0.3s ease;
  overflow-x: hidden;
}


.sidebar.closed + main {
  margin-left:70px; 
}