.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; /* Reduced padding for a smaller height */
    border-top: 1px solid #ccc;
    background-color: #f1f1f1;
    z-index: 1000; /* Ensure footer is above other content */
  }
  
  .footer-container .footer-button {
    background-color: #084b8a;
    color: white;
    border: none;
    padding: 5px 10px; /* Reduced padding for a smaller button */
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Reduced font size */
  }

  .footer-button:hover {
    background-color: #063f6c !important; /* Darker blue on hover */
    transition: background-color 0.3s ease !important; /* Smooth transition for hover effect */
  }