.Find-Graduate-Schools {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
 .dropdown-list {
    display: flex;
    gap: 10px; 
    margin-bottom: 20px; 
  }
 
  .start-container {
    display: flex;
    flex-direction: column;
  }
  .change-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  
  .change-container .general-tiles {
    grid-column: 1 / 2;
  }
  
  .change-container .additional-tiles {
    grid-column: 2 / 5; 
    grid-template-columns: repeat(4, 1fr);
  }
  
  .change-container .resource-tile-container {
    grid-template-columns: repeat(3, 1fr);
  }
  