.Find-Graduate-Schools {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  
 .dropdown-list {
    display: flex;
    gap: 10px; 
    margin-bottom: 20px; 
  }
 
  .started-degree-tiles {
    margin-top: -10px;
    flex-direction: column;
  }
  
  .changed-degree-tiles-container {
    margin-top: -10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .degree-general-tiles {
    margin-top: 0px;
    grid-column: 1 / 2; 
    padding: 1rem; 
  }
  
  .degree-additional-tiles {
    grid-column: 2 / 4;
  }
  